header{
	
	background: #ca9970;
	height: 70px;
}
a{
	font-size: 20px;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
	position: absolute;
	top: 20px;
	right: 100px;
	
}
li{
	display: inline; 

}
.main-container {
	display: flex;
	flex-wrap: wrap;
  }
  
  .section {
	width: 50%;
  }

h1 {
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #0f0e0c;
	margin-bottom: 0,25em;
  }
 
  
  h2 {
	font-size: 17px;
	font-weight: 600;
	letter-spacing: 3px;
	color: #0f0e0c;
	margin-top: 0;
	margin-bottom: 1em;
	column-span: all;
  }
  
   
  body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #0e0c10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	margin: 0; padding: 0;
	   }
	   

  .block-left{
	width:50%;
	height:800px;
	overflow:auto;
	float:left;
}
.block-right{
	width: 50%;;
	height:800px;
	overflow:auto;
	float: right;
	margin-top: 147px;
}
.rss {
	width: 121px;
	height: 45px;
	background-image: ("./img/IMG_5375.JPG");
	background-size: contain;
	background-repeat: no-repeat;
  }
  .container {
	width: 65%;
	height: 800px;
	margin: auto;
	padding: 20px;
	border-style: solid;
	border-color: #fae9e9;
    border-width: 5px;
  }



  footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	background: #ca9970;
	height: 70px;
	width: 1350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
 
 
